

NET "Q[0]" LOC = P94;
NET "Q[1]" LOC = P95;
NET "Q[2]" LOC = P2;
NET "Q[3]" LOC = P3;
NET "Q[4]" LOC = P4;
NET "Q[6]" LOC = P9;
NET "Q[5]" LOC = P5;
NET "Q[7]" LOC = P10;


NET "Q[7]" IOSTANDARD = LVCMOS33;
NET "Q[6]" IOSTANDARD = LVCMOS33;
NET "Q[5]" IOSTANDARD = LVCMOS33;
NET "Q[4]" IOSTANDARD = LVCMOS33;
NET "Q[3]" IOSTANDARD = LVCMOS33;
NET "Q[2]" IOSTANDARD = LVCMOS33;
NET "Q[1]" IOSTANDARD = LVCMOS33;
NET "Q[0]" IOSTANDARD = LVCMOS33;
NET "CarryOut" IOSTANDARD = LVCMOS33;


NET "CarryOut" LOC = P90;

NET "B[7]" PULLDOWN;
NET "B[6]" PULLDOWN;
NET "B[5]" PULLDOWN;
NET "B[4]" PULLDOWN;
NET "B[3]" PULLDOWN;
NET "B[2]" PULLDOWN;
NET "B[1]" PULLDOWN;
NET "B[0]" PULLDOWN;
NET "A[7]" PULLDOWN;
NET "A[6]" PULLDOWN;
NET "A[5]" PULLDOWN;
NET "A[4]" PULLDOWN;
NET "A[3]" PULLDOWN;
NET "A[2]" PULLDOWN;
NET "A[1]" PULLDOWN;
NET "A[0]" PULLDOWN;
NET "A[7]" IOSTANDARD = LVCMOS33;
NET "A[6]" IOSTANDARD = LVCMOS33;
NET "A[5]" IOSTANDARD = LVCMOS33;
NET "A[4]" IOSTANDARD = LVCMOS33;
NET "A[3]" IOSTANDARD = LVCMOS33;
NET "A[2]" IOSTANDARD = LVCMOS33;
NET "A[1]" IOSTANDARD = LVCMOS33;
NET "A[0]" IOSTANDARD = LVCMOS33;
NET "B[7]" IOSTANDARD = LVCMOS33;
NET "B[6]" IOSTANDARD = LVCMOS33;
NET "B[5]" IOSTANDARD = LVCMOS33;
NET "B[4]" IOSTANDARD = LVCMOS33;
NET "B[3]" IOSTANDARD = LVCMOS33;
NET "B[2]" IOSTANDARD = LVCMOS33;
NET "B[1]" IOSTANDARD = LVCMOS33;
NET "B[0]" IOSTANDARD = LVCMOS33;


NET "B[0]" LOC = P86;
NET "A[3]" LOC = P61;
NET "A[2]" LOC = P62;
NET "A[1]" LOC = P65;
NET "A[0]" LOC = P66;
NET "CTRL" LOC = P53;


NET "CTRL" IOSTANDARD = LVCMOS33;
NET "CTRL" PULLDOWN;

# PlanAhead Generated physical constraints 

NET "B[1]" LOC = P85;
NET "B[2]" LOC = P84;
NET "B[3]" LOC = P83;
NET "B[4]" LOC = P71;
NET "B[5]" LOC = P70;
NET "B[6]" LOC = P68;
NET "B[7]" LOC = P67;
NET "A[4]" LOC = P60;
NET "A[5]" LOC = P58;
NET "A[6]" LOC = P57;
NET "A[7]" LOC = P54;
