//! **************************************************************************
// Written by: Map P.49d on Sat Mar 02 18:40:32 2013
//! **************************************************************************

SCHEMATIC START;
COMP "Q1" LOCATE = SITE "P90" LEVEL 1;
COMP "A<0>" LOCATE = SITE "P71" LEVEL 1;
COMP "Q2" LOCATE = SITE "P94" LEVEL 1;
COMP "Q3" LOCATE = SITE "P91" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P70" LEVEL 1;
COMP "A<2>" LOCATE = SITE "P68" LEVEL 1;
COMP "A<3>" LOCATE = SITE "P67" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P86" LEVEL 1;
COMP "B<1>" LOCATE = SITE "P85" LEVEL 1;
COMP "B<2>" LOCATE = SITE "P84" LEVEL 1;
COMP "B<3>" LOCATE = SITE "P83" LEVEL 1;
SCHEMATIC END;

