//! **************************************************************************
// Written by: Map P.49d on Sun Mar 03 10:22:30 2013
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "P71" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P70" LEVEL 1;
COMP "A<2>" LOCATE = SITE "P68" LEVEL 1;
COMP "A<3>" LOCATE = SITE "P67" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P86" LEVEL 1;
COMP "B<1>" LOCATE = SITE "P85" LEVEL 1;
COMP "B<2>" LOCATE = SITE "P84" LEVEL 1;
COMP "B<3>" LOCATE = SITE "P83" LEVEL 1;
COMP "Q<0>" LOCATE = SITE "P94" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "P95" LEVEL 1;
COMP "Q<2>" LOCATE = SITE "P2" LEVEL 1;
COMP "Q<3>" LOCATE = SITE "P3" LEVEL 1;
COMP "Carryflag" LOCATE = SITE "P90" LEVEL 1;
COMP "F0" LOCATE = SITE "P11" LEVEL 1;
COMP "F1" LOCATE = SITE "P12" LEVEL 1;
COMP "F2" LOCATE = SITE "P13" LEVEL 1;
COMP "F3" LOCATE = SITE "P15" LEVEL 1;
SCHEMATIC END;

