//! **************************************************************************
// Written by: Map P.49d on Sun Feb 24 15:59:46 2013
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "P85" LEVEL 1;
COMP "B" LOCATE = SITE "P86" LEVEL 1;
COMP "Q" LOCATE = SITE "P90" LEVEL 1;
SCHEMATIC END;

