//! **************************************************************************
// Written by: Map P.49d on Sat Mar 02 16:26:09 2013
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "P71" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P70" LEVEL 1;
COMP "A<2>" LOCATE = SITE "P68" LEVEL 1;
COMP "A<3>" LOCATE = SITE "P67" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P86" LEVEL 1;
COMP "B<1>" LOCATE = SITE "P85" LEVEL 1;
COMP "B<2>" LOCATE = SITE "P84" LEVEL 1;
COMP "B<3>" LOCATE = SITE "P83" LEVEL 1;
COMP "Q<0>" LOCATE = SITE "P94" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "P95" LEVEL 1;
COMP "Q<2>" LOCATE = SITE "P2" LEVEL 1;
COMP "Q<3>" LOCATE = SITE "P3" LEVEL 1;
COMP "Q<4>" LOCATE = SITE "P4" LEVEL 1;
COMP "Q<5>" LOCATE = SITE "P5" LEVEL 1;
COMP "Q<6>" LOCATE = SITE "P9" LEVEL 1;
COMP "Q<7>" LOCATE = SITE "P10" LEVEL 1;
SCHEMATIC END;

