# Eingänge Pegel
NET "A[3]" IOSTANDARD = LVCMOS33;
NET "A[2]" IOSTANDARD = LVCMOS33;
NET "A[1]" IOSTANDARD = LVCMOS33;
NET "A[0]" IOSTANDARD = LVCMOS33;

NET "B[3]" IOSTANDARD = LVCMOS33;
NET "B[2]" IOSTANDARD = LVCMOS33;
NET "B[1]" IOSTANDARD = LVCMOS33;
NET "B[0]" IOSTANDARD = LVCMOS33;

# Eingänge Widerstände
NET "A[3]" PULLDOWN;
NET "A[2]" PULLDOWN;
NET "A[1]" PULLDOWN;
NET "A[0]" PULLDOWN;

NET "B[3]" PULLDOWN;
NET "B[2]" PULLDOWN;
NET "B[1]" PULLDOWN;
NET "B[0]" PULLDOWN;

# Eingänge Pins
NET "A[3]" LOC = P67;
NET "A[2]" LOC = P68;
NET "A[1]" LOC = P70;
NET "A[0]" LOC = P71;

NET "B[3]" LOC = P83;
NET "B[2]" LOC = P84;
NET "B[1]" LOC = P85;
NET "B[0]" LOC = P86;

# LEDs
NET "Q[4]" LOC = P4;
NET "Q[3]" LOC = P3;
NET "Q[2]" LOC = P2;
NET "Q[1]" LOC = P95;
NET "Q[0]" LOC = P94;

NET "Q[4]" IOSTANDARD = LVCMOS33;
NET "Q[3]" IOSTANDARD = LVCMOS33;
NET "Q[2]" IOSTANDARD = LVCMOS33;
NET "Q[1]" IOSTANDARD = LVCMOS33;
NET "Q[0]" IOSTANDARD = LVCMOS33;

# Übertrag
NET "Overflow" IOSTANDARD = LVCMOS33;
NET "Overflow" LOC = P90;