//! **************************************************************************
// Written by: Map P.49d on Fri Mar 01 15:25:45 2013
//! **************************************************************************

SCHEMATIC START;
COMP "CarryIn" LOCATE = SITE "P84" LEVEL 1;
COMP "A" LOCATE = SITE "P85" LEVEL 1;
COMP "B" LOCATE = SITE "P86" LEVEL 1;
COMP "Propagate" LOCATE = SITE "P90" LEVEL 1;
COMP "Q" LOCATE = SITE "P94" LEVEL 1;
COMP "Gen" LOCATE = SITE "P91" LEVEL 1;
SCHEMATIC END;

