
# Eingänge
NET "A" PULLDOWN;
NET "A" LOC = P85;
NET "A" IOSTANDARD = LVCMOS33;

NET "B" PULLDOWN;
NET "B" LOC = P86;
NET "B" IOSTANDARD = LVCMOS33;

NET "CarryIn" PULLDOWN;
NET "CarryIn" LOC = P84;
NET "CarryIn" IOSTANDARD = LVCMOS33;

# Ausgänge
NET "CarryOut" LOC = P90;
NET "CarryOut" IOSTANDARD = LVCMOS33;

NET "Q" LOC = P94;
NET "Q" IOSTANDARD = LVCMOS33;