//! **************************************************************************
// Written by: Map P.49d on Sat Mar 02 17:45:16 2013
//! **************************************************************************

SCHEMATIC START;
COMP "Q1" LOCATE = SITE "P90" LEVEL 1;
COMP "Q2" LOCATE = SITE "P94" LEVEL 1;
COMP "Q3" LOCATE = SITE "P91" LEVEL 1;
COMP "A" LOCATE = SITE "P85" LEVEL 1;
COMP "B" LOCATE = SITE "P86" LEVEL 1;
SCHEMATIC END;

